 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 .b{
    background-color: coral;
    position: relative;
    top: 55px;
    padding-top: 20px;
    height: 100dvh;
    width: 100%;
 }
 
 
 
 .first{
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 .join{
   text-align: center;
   padding: 10px;
 }